section#Why.section-padding
      .container-full
        .row.bluewhite
          .col-xs-6.text-md-center.nomargin
            img.img.img-responsive(src='images/afbeeldingen site/2 personality matching.png')   
          .col-xs-6.text-md-center.usptext
            p Done with the non-personal approach by pushy recruiters? You get screened on your personality and motivation to find your most suitable culture fit.
        .row.greywhite
          .col-xs-6.text-md-center.usptext
            p#lessmarge How do we get to know you best? Create your personal profile, fill in your preferences and experiences. Then, challenge yourself to pass the thorough screening to become visible for your future dream team.  
          .col-xs-6.text-md-center.nomargin
            img.img.img-responsive(src='images/afbeeldingen site/1 screening.png')    
        .row.bluewhite
          .col-xs-6.text-md-center.nomargin
            img.img.img-responsive(src='images/afbeeldingen site/3 payment.png')         
          .col-xs-6.text-md-center.usptext
            p Frustrated by all traditional recruitment processes? According to your preferences, LinqU will offer you a top-10 list of the best fitting companies. 
        .row.greywhite
          .col-xs-6.text-md-center.usptext
            p How could you work without having a residence? LinqU provides for each developer housing support in order to find the perfect place to stay for you (and your family).
          .col-xs-6.text-md-center.nomargin
            img.img.img-responsive(src='images/afbeeldingen site/4 housing.png') 
        .row.bluewhite
          .col-xs-6.text-md-center.nomargin
            img.img.img-responsive(src='images/afbeeldingen site/5 bringafriend.png')         
          .col-xs-6.text-md-center.usptext
            p Want to earn a little extra? Receive an immediate bonus fee of €500,- if you find your friend’s dream job! 
        .row.greywhite
          .col-xs-6.text-md-center.usptext
            p Annoyed by the aggressive approach of traditional recruitment agencies? At LinqU developers will be anonymous, unless you get in contact with a company. 
          .col-xs-6.text-md-center.nomargin
            img.img.img-responsive(src='images/afbeeldingen site/6 anonymous.png')