
#Register.container
	h1.well Registration Form
	.col-lg-12.well
		.row
			form
				.col-sm-12
					.row
						.col-sm-6.form-group
							label First Name
							input.form-control(type="text", placeholder="Enter first name here..")
						.col-sm-6.form-group
							label Last Name
							input.form-control(type="text", placeholder="Enter last name here..")
					.row
						.col-sm-4.form-group
							label City
							input.form-control(type="text", placeholder="Enter city name here..")
						.col-sm-4.form-group
							label ZIP
							input.form-control(type="text", placeholder="Enter ZIP code Here..")
						.col-sm-4.form-group
							label House number
							input.form-control(type="text", placeholder="Enter house number Here..")
					.form-group
						label Phone Number
						input.form-control(type="text", placeholder="Enter phone number here..")
					.form-group
						label Email Address
						input.form-control(type="text", placeholder="Enter email address Here..")
					.form-group
						label Website
						input.form-control(type="text", placeholder="Enter website url Here..")
					button.btn.btn-lg.btn-info(type="button") Submit