section#How.section-padding.wow.fadeInUp.delay-05s
      .container.outer
        .row.middle
            .row
              img.img.img-responsive.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4(src='images/Logo_medium.png')
              p#phasesubtitle.sub-title.pad-bt15.col-sm-4.col-sm-offset-4
                | Our screening consists of several phases to ensure quality
            hr.bottom-line
            img#phase-img.img.img-responsive(src='images/linqu-funnel2.png')