section#feature.section-padding.wow.fadeIn.delay-05s
      .container.video-container
        h2 BECAUSE WATCHING A VIDEO IS ALWAYS EASIER
        .col-md-8.col-sm-12.col-xs-12.col-md-offset-2.col-lg-6.col-lg-offset-3
          .embed-responsive.embed-responsive-16by9
            iframe.center-block(src='https://www.youtube.com/embed/bvTdtfm4hfk')  