section#portfolio.section-padding.wow.fadeInUp.delay-05s
    .container
      .row  
        .col-md-12.text-center
          h2.service-title.pad-bt15 What you need to do to start:
          hr.bottom-line
        .col-md-6.col-sm-8.col-xs-12.col-sm-offset-2.col-md-offset-0.portfolio-item.padding-right-zero.mr-btn-15.steplist
          .developer
            h2 As a developer:
            ul.custom-bullet
              li Sign up for free
              li Set your preferences
              li Pass the screening to be the best fitting developer 
              li We linqU to the best fitting employer
        .col-md-6.col-sm-8.col-xs-12.col-sm-offset-2.col-md-offset-0.portfolio-item.padding-right-zero.mr-btn-15.steplist
          .employer
            h2 As an employer:
            ul.custom-bullet
              li Sign up for free
              li Set your preferences
              li We linqU to the best fitting developer